<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="code.webcomicviewer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" >
    </uses-permission>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />
    
    

    <application
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name=".UpdaterReceiver" />
        <activity
            android:name=".View_Comics"
            android:label="View Comics"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name=".Add_Comic"
            android:label="@string/title_activity_add__comic"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black" >
        </activity>
        <activity
            android:name=".View_Comic"
            android:label="@string/title_activity_view__comic"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".Front_Page"
            android:label="@string/title_activity_front__page"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Edit_Comic"
            android:label="@string/title_activity_edit__comic" >
        </activity>
        <activity
            android:name=".ComicUpdater"
            android:label="@string/title_activity_comic_updater" >
        </activity>
        <activity
            android:name=".Comic_Gallery"
            android:label="@string/title_activity_comic__gallery" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ComicListActivity"
            android:label="@string/title_comic_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ComicDetailActivity"
            android:label="@string/title_comic_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ComicListActivity" />
        </activity>
    </application>

</manifest>