<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="code.webcomicviewer"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS">
    </uses-permission>
    
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />

    <application android:label="@string/app_name"
        android:icon="@drawable/launcher"
        android:theme="@style/AppTheme">
        
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait" >
            
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Add_Comic"
            android:label="@string/title_activity_add__comic"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".View_Comic"
            android:label="@string/title_activity_view__comic" 
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>

    </application>

</manifest>
